<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <div class="col-md-8">

      <div class="field form-group">
        <%= f.label :title %>
        <%= f.text_field :title, { :required => true, :id => 'title', :class => 'form-control' } %>
      </div>
      <div class="field form-group">
        <%= f.label :slug %>
        <%= f.text_field :slug, { :required => true, :id => 'slug', :class => 'form-control' } %>
      </div>
      <div class="field form-group">
        <%= f.label :content %>
        <%= f.text_area :content, { :id => 'content', :class => 'form-control', :rows => 10 } %>
      </div>
      <div class="actions form-group">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>

    </div>
    <div class="col-md-4">

      <% if !@category.image.blank? %>
        <p class="text-center">
          <%= load_ishportfolio_image @category, :medium %>
        </p>
      <% end %>

      <div class="field form-group">
        <%= f.label :image %>
        <%= f.file_field :image, :class => 'btn btn-block btn-default', :accept => 'image/png,image/gif,image/jpeg,image/jpg' %>

        <p class="help-block"><%= t('ishportfolio.max_image_size') %><br />
        <%= t('ishportfolio.allowed_image_formats') %> </p>
      </div>

    </div>
  </div>


  
<% end %>
