<% content_for :header do %>
  <h1>Portfolio Categories</h1>
<% end %>

<% if can? :create, Ishportfolio::Category %>
  <div class="clearfix">
    <p class="pull-right">
      <%= link_to 'New Category', new_category_path, :class => 'btn btn-primary' %>
    </p>
  </div>
<% end %>

<% @categories.each do |category| %>
  <div class="clearfix">
    <div class="col-md-3">
      <%= link_to load_ishportfolio_image(category, :thumb), category %>
    </div>
    <div class="col-md-9">
      <h2><%= link_to category.title, category %></h2>
      <%= load_ishportfolio_excerpt category, 300 %>
      <div class="clearfix">
        <p class="pull-right">
          <% if can? :update, category %>
            <%= link_to 'Edit', edit_category_path(category) %> | 
          <% end %>
          <% if can? :destroy, category %>
            <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>