<% content_for :header do %>
  <h1><%= @category.title %></h1>
<% end %>

<div class="well clearfix">
  <% if !@category.image.blank? %>
    <div class="col-md-3">
      <p><%= load_ishportfolio_image @category, :thumb %></p>
    </div>
    <div class="col-md-9">
      <%= @category.content.html_safe %>
      <div class="clearfix">
        <p class="pull-right">
        	<%= link_to 'Edit', edit_category_path(@category), :class => 'btn btn-warning' %>
        	<%= link_to 'Destroy', @category, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<%=  render :partial => 'ishportfolio/items/load_all_items', :locals => { :items => @items } %>