<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <div class="col-md-8">
      
      <div class="field form-group">
        <%= f.label :title %>
        <%= f.text_field :title, { :required => true, :id => 'title', :class => 'form-control' } %>
      </div>
      <div class="field form-group">
        <%= f.label :content %>
        <%= f.text_area :content, { :required => true, :id => 'content', :class => 'form-control', :rows => 10 } %>
      </div>
      <div class="actions form-group">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>

    </div>
    <div class="col-md-4">
      <div class="field form-group form-upload">

        <% if !@item.image.blank? %>
          <p><%= load_ishportfolio_image @item, :medium %></p>
        <% else %>
          <%= f.label :image %>
        <% end %>
        <%= f.file_field :image, :class => 'btn btn-block btn-default', :accept => 'image/png,image/gif,image/jpeg,image/jpg' %>
        <p class="help-block"><%= t('ishportfolio.max_image_size') %><br />
        <%= t('ishportfolio.allowed_image_formats') %> </p>

      </div>

      <div class="field form-group well">
        <%= f.label :categories %><br />
        <% @categories.all.each do |category| %>
          <%= check_box_tag 'item[category_ids][]', category.id, @item.category_ids.include?(category.id) %>
          <%= category.title %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
