<div class="clearfix portfolio-items">
  <% if !items.blank? %>
    <% items.each do |item| %>
        <div class="col-md-4 item">
          <div class="content">
            <h3 class="text-center title"><%= link_to item.title, ishportfolio.item_path(item), :title => item.title %></h3>
            
            <p class="text-center thumbnail">
              <%= link_to load_ishportfolio_image(item, :medium), ishportfolio.item_path(item), :title => item.title %>
            </p>
            
            <p class="text-center">
              <% if can? :update, item %>
                <%= link_to 'Edit', ishportfolio.edit_item_path(item), :class => 'btn btn-xs btn-warning' %>
              <% end %>
              <% if can? :destroy, item %>
                <%= link_to 'Destroy', ishportfolio.item_path(item), :class => 'btn btn-xs btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </p>
          </div>
        </div>
    <% end %>
  <% else %>
    <p class="lead text-center"><%= t('ishportfolio.items.no_item') %></p>
    <% if can? :create, Ishportfolio::Item %>
      <p class="text-center">
        <%= link_to 'New Item', ishportfolio.new_item_path, :class => 'btn btn-primary' %>
      </p>
    <% end %>
  <% end %>
  
</div>