<% content_for :header do %>
	<h1>Portfolio</h1>
<% end %>

<% if can? :create, Ishportfolio::Item %>
  <div class="clearfix">
    <p class="pull-right">
      <%= link_to 'New Item', new_item_path, :class => 'btn btn-primary' %>
    </p>
  </div>
<% end %>

<%= render :partial => 'load_all_items', :locals => { :items => @items } %>

<div class="clearfix">
  <%= paginate @items %>
</div>