<% content_for :header do %>
  <h1>Portfolio: Project "<%= @item.title %>"</h1>
<% end %>

<div class="portfolio-item-show">
	<p class="text-center thumbnail">
		<%= load_ishportfolio_image @item, :medium %>
	</p>

	<h1 class="text-center"><%= @item.title %></h1>
	<% if !@categories.blank? %>
		<p class="text-muted text-center">
			Type:
			
				<% @categories.each do |category| %>
					<%= link_to "#{category.title} | ", category %>
				<% end %>
			
		</p>
	<% end %>

	<div class="clearfix">
		<%= @item.content.html_safe %>
	</div>

	<div class="clearfix">
		<p class="pull-right">
			<% if can? :update, @item %>
				<%= link_to 'Edit', edit_item_path(@item), :class => 'btn btn-warning' %>
			<% end %>
			<% if can? :destroy, @item %>
				<%= link_to 'Destroy', @item, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
		</p>
	</div>
</div>