<!DOCTYPE html>
<html>
<head>
  <title>Ishportfolio</title>
  <%= stylesheet_link_tag    "ishportfolio/application", media: "all" %>
  <%= javascript_include_tag "ishportfolio/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
