/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


.portfolio-items {
	.item {
		margin-bottom: 15px;
		padding: 0;

		.content {
			margin: 0 auto;
			padding: 10px;

			.title a {
				margin: auto;
				top: 40%; left: 0; right: 0;
				width: 93%;
				text-align: center;
				line-height: 40px;
				color: #ffffff;
				background: #333333;
				text-shadow: 1px 1px 1px #000000;
				display: block;
				position: absolute;
				z-index: 10000;
				-webkit-transition: 0.850s ease-in-out;
			    -moz-transition: 0.850s ease-in-out;
			    -o-transition: 0.850s ease-in-out;
			    transition: 0.850s ease-in-out;
			    /* IE 8 */
			    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";

			    /* IE 5-7 */
			    filter: alpha(opacity=85);

			    /* Netscape */
			    -moz-opacity: 0.85;

			    /* Safari 1.x */
			    -khtml-opacity: 0.85;

			    /* Good browsers */
			    opacity: 0.85;
			}

			.title a:hover {
				text-decoration: none;
				/* IE 8 */
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";

				/* IE 5-7 */
				filter: alpha(opacity=1);

				/* Netscape */
				-moz-opacity: 1.0;

				/* Safari 1.x */
				-khtml-opacity: 1.0;

				/* Good browsers */
				opacity: 1.0;
			}

			.thumbnail {
				height: 200px;
				background: transparent;
				border: 0;
				overflow: hidden;
				border-radius: 0;
				-webkit-transition: 0.850s ease-in-out;
			    -moz-transition: 0.850s ease-in-out;
			    -o-transition: 0.850s ease-in-out;
			    transition: 0.850s ease-in-out;

			    img {
			    	box-shadow: 2px 2px 5px #dedede;
			    }
			}

			.excerpt {
				height: 60px;
				overflow: hidden;
			}

		}
	}
}

.portfolio-item-show {
	.thumbnail {
		float: none;
		border: 0;
	}
}